<!-- moviedetails/templates/moviedetails/movie_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ movie.title }}Details</title>
</head>
<body>
    {% if movie %}
        <h1>{{ movie.title }}</h1>
        <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="{{ movie.title }}">
        <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
        <p><strong>Overview:</strong> {{ movie.overview }}</p>
        <p><strong>Rating:</strong> {{ movie.vote_average }}/10</p>
    {% else %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>
